<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head")%>
<body>
<%- include("partials/nav") %>    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officia molestias, aut numquam nobis vel fugit odit sit! Officiis, unde.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, delectus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, fuga!</p>
    </div>
    
</body>
  <%- include("partials/footer") %>
</html>
