<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %> </title>
</head>
<body>
    <%- include("partials/nav") %>
   <div class="create-blog content">
        <form action="" method="post">
            <label for="title">Title</label>
            <input type="text" id="title" required>
            <label for="snippet">Snippet</label>
            <input type="text" id="snippet" required>
            <label for="body">Body</label>
            <input type="text" id="body" required>
            <input type="button" value="submit">
        </form>
    </div>

    
</body>
</html>
