<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello WOrld</title>
    <!-- <link href="css/style.css" rel="stylesheet" /> -->
  </head>
  <body>
    <h1>Node.js Tutorial</h1>
    <p>Welcome to the webpage</p>
    <p>Current Time is <span id="time"></span></p>
    <script>
      let time = document.getElementById("time");
      time.innerHTML = Date.now();
    </script>
  </body>
</html>
